# Virtual environment
venv/

# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Static and media files
/staticfiles/
/mediafiles/
/media/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# PyCharm settings
.idea/

# Coverage reports
htmlcov/
*.cover
*.py,cover
.coverage
.coverage.*

# Migrations
*/migrations/*

# Python environment variables
.env
